/** MHFA Customisations **/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

html {
  background-color: #FFF;
}

body {
  font-family: Open Sans,Helvetica,sans-serif;
  min-width: 1200px;
}

body,
body#page-mod-scorm-player #page-content .region-content {
  padding: 0px !important;
}

body#page-mod-scorm-player #page-header,
body #page-footer,
body#page-mod-scorm-player #dock {
  display: none !important;
}


body#page-mod-scorm-player.has_dock {
  margin-left: 0px !important;
}

.main-width {
  width: 76% !important;
  margin: 0 12% !important;
  position: relative;
}

body#page-mod-scorm-player .main-width {
  width: 100% !important;
  margin: 0 0 !important;
  position: relative;
}

.yui-skin-sam .yui-layout {
  background-color: #FAFAFA !important;
}





#branding {
  position: relative;
}

#branding #logo {
  position: absolute;
  left: 20px;
  top: 17px;
  display: block;
  background-color: #fff;
  z-index: 1;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  width: 85px;
  height: 128px;
  background-image: url([[pix:theme|logo-bg]]);
}
#branding #logo img {
  height: 128px;
  margin: 0;
  padding: 0;
  min-width: 85px;
}


#branding #primary-strip {
  height: 100px;
  overflow: hidden;
  background-color: #269459;
  background-image: url([[pix:theme|texture-bg-2]]);
  background-repeat: repeat-x;
}

#branding #primary-strip .headermenu {
  float: left;
  margin: 10px;
  font-size: 0.8em;
  text-align: right;
}

#branding #primary-strip #block-mhfa-core-user-greeting {
  float: left;
  margin-top: 35px;
  color: #fff;
  line-height: 18px;
  font-size: 16px;
  color: #fff;
  padding: 10px 0;
  font-family: Open Sans, Helvetica, sans-serif;
  font-weight: 300;
}

#branding #primary-strip #block-mhfa-core-user-greeting a {
  color: #424240;
}
#branding #primary-strip #block-mhfa-core-user-greeting .user-greeting-name {
  color: #fff;
}
#branding #primary-strip #block-mhfa-core-user-greeting .user-greeting-name.home-icon {
  background-image: url([[pix:theme|home-icon]]);
  background-position: 0px 0px;
  padding-top: 2px;
  background-repeat: no-repeat;
}

.underline {
  text-decoration: underline;
}

#branding #primary-strip .block-menu {
  float: right;
  margin-top: 27px;
}

#branding #primary-strip h2 {
  display: none;
}

#branding #primary-strip .block-menu ul li {
  float: left;
  list-style: none;
}

#branding #primary-strip .block-menu ul li a {
  display: block;
  line-height: 20px;
  font-size: 20px;
  color: #fff;
  padding: 10px 15px;
  font-family: Open Sans, Helvetica, sans-serif;
  font-weight: 300;
  border-right: 1px solid #108248;
}
#branding #primary-strip .block-menu ul li:last-of-type a {
  border-right: none;
  padding-right: 0px;
}

#branding #secondary-strip {
  height: 66px;
  overflow: hidden;
  /*padding: 20px 20px 0 20px;/* LTR */
  background-color: #cfd0e1;
  border-top: 1px solid #108248;
  border-bottom: 1px solid #c5c6d6;
}

#branding #secondary-strip .block {
  float: right;
  margin-top: 20px;
}
#branding #secondary-strip .tabs.primary {
  margin-top: 27px;
}



#page div.breadcrumb {
  font-size: 14px;
  padding-bottom: 5px;
  color: #888888;

  float: left;
  margin-top: 21px;
}

.headermain {
  color: #545452;
  float: left;
  font-family: Open Sans,Helvetica,sans-serif;
  font-size: 24px !important;
  font-weight: 300;
  line-height: 34px;
  padding: 0 0 12px;
}

.navbar {
  border: none;
  background-image: none;
  background-color: #FFF;
}

/**
 *  Force a repaint with a super short duration.
 *
 *  This fixes a rendering bug in Chrome 39. @see:
 *  - https://moodle.org/mod/forum/discuss.php?d=277360#p1193793
 *  - https://tracker.moodle.org/browse/MDL-48375
 */
#scorm_content > iframe {
  -webkit-animation-duration: 0.001s;
  -webkit-animation-name: nodeInserted;
}
